/* line 2, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%; }

/* line 3, ../sass/style.scss */
.wrap {
  margin: 0 auto; }

/* line 4, ../sass/style.scss */
.pages {
  width: 100%;
  height: 100%; }

/* line 5, ../sass/style.scss */
.wrap, .page, .right, .wrong {
  width: 100%;
  height: 100%;
  position: relative; }

/* line 6, ../sass/style.scss */
.container {
  width: 375px;
  height: 100%;
  left: 50%;
  position: relative;
  opacity: 0; }

/*----------------loading-----------------*/
/* line 8, ../sass/style.scss */
.loading {
  background-color: #f3c720; }

/* line 9, ../sass/style.scss */
.loading-dog {
  background: url(../images/loading.png) no-repeat;
  animation: move 300ms steps(2) infinite both;
  -webkit-animation: move 300ms steps(2) infinite both;
  margin: 50% auto 0;
  width: 53.5px;
  height: 63.5px; }

/* line 10, ../sass/style.scss */
.loading p {
  text-align: center;
  font-family: "microsoft yahei"; }

/*----------------slide1-----------------*/
/* line 14, ../sass/style.scss */
.slide1 {
  background: url(../images/bg.png) no-repeat;
  background-size: 100%; }

/* line 15, ../sass/style.scss */
.clear::after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden; }

/* line 17, ../sass/style.scss */
.i-dog {
  background: url(../images/i-dog.png) no-repeat;
  width: 79.3%;
  height: 43.2%;
  left: 0;
  bottom: 0; }

/* line 18, ../sass/style.scss */
.i-text-bg {
  background: url(../images/i-text-bg.png) no-repeat;
  width: 372px;
  height: 163.5px;
  left: 50%;
  margin-left: -186px;
  top: 161.5px; }

/* line 21, ../sass/style.scss */
.other-ar {
  background: url(../images/other-ar.png) no-repeat; }

/* line 22, ../sass/style.scss */
.star {
  background: url(../images/star.png) no-repeat;
  width: 247px;
  height: 301px;
  position: absolute;
  top: 36px;
  left: 76px; }

/* line 23, ../sass/style.scss */
.slide1 h1, .slide2 h1, .slide2 p {
  text-indent: -10000px; }

/* line 24, ../sass/style.scss */
.i-title {
  background: url(../images/i-title.png) no-repeat;
  width: 293px;
  height: 103px;
  top: 192.5px;
  left: 50%;
  margin-left: -146.5px;
  z-index: 10; }

/*----------------slide2-----------------*/
/* line 28, ../sass/style.scss */
.slide2 {
  background-color: #f3c720; }

/* line 29, ../sass/style.scss */
.n-dog1 {
  background: url(../images/n-dog1.png) no-repeat;
  bottom: 0;
  left: 0;
  width: 48.266%;
  height: 30.182%; }

/* line 30, ../sass/style.scss */
.n-dog2 {
  background: url(../images/n-dog2.png) no-repeat;
  bottom: 0;
  right: 0;
  width: 48.133%;
  height: 30.016%; }

/* line 31, ../sass/style.scss */
.n-dog3 {
  background: url(../images/n-dog3.png) no-repeat;
  top: 0;
  left: 0;
  width: 48%;
  height: 27.778%; }

/* line 32, ../sass/style.scss */
.n-dog4 {
  background: url(../images/n-dog4.png) no-repeat;
  top: 0;
  right: 0;
  width: 48%;
  height: 26.948%; }

/* line 33, ../sass/style.scss */
.n-text-bg1 {
  background: url(../images/n-text-bg1.png) no-repeat;
  width: 308px;
  height: 214.5px;
  top: 175px;
  left: 50%;
  margin-left: -154px; }

/* line 34, ../sass/style.scss */
.n-text-bg2 {
  background: url(../images/n-text-bg2.png) no-repeat;
  width: 212px;
  height: 30px;
  top: 396px;
  left: 50%;
  margin-left: -106px; }

/* line 35, ../sass/style.scss */
h1.n-title {
  background: url(../images/n-title.png) no-repeat;
  width: 312.5px;
  height: 123.5px;
  top: 210px;
  left: 50%;
  margin-left: -156px;
  z-index: 10; }

/* line 36, ../sass/style.scss */
p.n-title2 {
  background: url(../images/n-title2.png) no-repeat;
  width: 107px;
  height: 30px;
  top: 392px;
  left: 50%;
  margin-left: -53.5px;
  z-index: 10; }

/*----------------slide3-----------------*/
/* line 39, ../sass/style.scss */
.slide3 {
  background: url(../images/FullSizeRender.jpg) no-repeat center center;
  background-size: contain; }

/* line 40, ../sass/style.scss */
.inputInterface {
  width: 100%;
  height: 40%;
  background-color: #f5f5f7;
  bottom: 0;
  position: absolute; }

/* line 41, ../sass/style.scss */
.panel {
  padding: 7.5px;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #bcbbc1;
  position: relative;
  overflow: hidden; }

/* line 46, ../sass/style.scss */
.answ {
  width: 100%;
  padding-top: 5px; }

/* line 49, ../sass/style.scss */
.answ p {
  font-size: 15px;
  text-indent: 15px;
  font-family: "microsoft yahei";
  line-height: 45px;
  margin: 0 auto;
  background-image: url(../images/answ.png);
  width: 295.5px;
  height: 45px;
  background-size: cover; }

/* line 50, ../sass/style.scss */
.text {
  display: inline-block;
  width: 210px;
  height: 17.5px;
  line-height: 17.5px;
  padding: 5px;
  border: 1px solid #c5c5c7;
  border-radius: 5px;
  background-color: #fefefe;
  color: #000;
  font-size: 15px;
  font-family: "microsoft yahei";
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 10px 0 35px; }

/* line 66, ../sass/style.scss */
.btnFace {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/btn-face.png) no-repeat; }

/* line 67, ../sass/style.scss */
.btnRecord {
  float: left;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/btn-recored.png) no-repeat; }

/* line 68, ../sass/style.scss */
.btnSend {
  width: 60px;
  height: 27.5px;
  line-height: 27.5px;
  text-align: center;
  font-size: 16px;
  background-color: #45c01a;
  color: #fff;
  display: inline-block;
  float: right;
  border-radius: 5px;
  font-family: "microsoft yahei"; }

/* line 70, ../sass/style.scss */
.chatInterface {
  padding: 25px 10px;
  overflow: scroll;
  max-height: 55%; }

/* line 71, ../sass/style.scss */
.head {
  width: 41px;
  height: 41px; }

/* line 72, ../sass/style.scss */
.chatQ .head {
  background: url(../images/head.png) no-repeat;
  background-size: 100% 100%; }

/* line 73, ../sass/style.scss */
.chatA .head {
  background: url(../images/head2.png) no-repeat;
  background-size: 100% 100%; }

/* line 75, ../sass/style.scss */
.question, .answer {
  max-width: 225px;
  padding: 15px 10px;
  font-size: 15px;
  font-family: "microsoft yahei";
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #C5C5C7; }

/* line 76, ../sass/style.scss */
.question {
  float: left; }

/* line 77, ../sass/style.scss */
.answer {
  float: right; }

/* line 78, ../sass/style.scss */
.chatQ .head {
  float: left;
  margin-right: 15px; }

/* line 79, ../sass/style.scss */
.chatA .head {
  float: right;
  margin-left: 15px; }

/* line 80, ../sass/style.scss */
.chatInterface div {
  margin-bottom: 15px; }

/*----------------wrong-----------------*/
/* line 83, ../sass/style.scss */
section.wrong, section.right {
  background-color: #f3c720;
  position: relative; }

/* line 84, ../sass/style.scss */
.wrong .girl {
  animation: shake 800ms 1000ms infinite alternate ease-in-out;
  -webkit-animation: shake 800ms infinite alternate ease-in-out;
  background: url(../images/girl.png) no-repeat;
  width: 275.5px;
  height: 190px;
  left: 50%;
  top: 129px;
  margin-left: -137.75px; }

/* line 85, ../sass/style.scss */
.wrong p {
  text-indent: -10000px; }

/* line 86, ../sass/style.scss */
.wrong .text {
  border: none;
  background: url(../images/no.png) no-repeat;
  width: 109.5px;
  height: 13.5px;
  top: 102.5px;
  left: 61px; }

/* line 87, ../sass/style.scss */
.wrong .text2 {
  animation: fadeToScale 1300ms both ease-in-out;
  background: url(../images/text2.png) no-repeat;
  width: 217.5px;
  height: 44px;
  top: 310.5px;
  left: 50%;
  margin-left: -108.5px; }

/* line 88, ../sass/style.scss */
.wrong .arrow, .right .arrow {
  animation: flow 300ms infinite ease-in-out;
  -webkit-animation: flow 300ms infinite ease-in-out;
  background: url(../images/arrow.png) no-repeat;
  width: 25px;
  height: 14.5px;
  left: 50%;
  top: 420px;
  margin-left: -12.5px; }

/* line 89, ../sass/style.scss */
.wrong a, .right a {
  color: #000;
  font-size: 25px;
  text-align: center;
  line-height: 49.5px;
  letter-spacing: 5px;
  font-family: "microsoft yahei";
  background: url(../images/button.png) no-repeat;
  display: block;
  width: 180.5px;
  height: 49.5px;
  left: 50%;
  top: 450px;
  margin-left: -87px; }

/*----------------right-----------------*/
/* line 95, ../sass/style.scss */
.right .r-dog {
  animation: fadeToScale 1300ms both ease-in-out;
  -webkit-animation: fadeToScale 1300ms both ease-in-out;
  background: url(../images/r-dog.png) no-repeat;
  width: 288.5px;
  height: 311px;
  top: 48px;
  left: 43px; }

/* line 96, ../sass/style.scss */
.right .r-text {
  animation: fade 800ms 200ms both;
  font-family: "microsoft yahei";
  position: relative;
  top: 370px;
  font-size: 21px;
  width: 231px;
  margin: 0 auto; }

/* line 97, ../sass/style.scss */
.right .arrow {
  top: 486px; }

/* line 98, ../sass/style.scss */
.right a {
  animation: fade 800ms 600ms both;
  top: 496px; }

/* line 99, ../sass/style.scss */
.bg-music {
  position: relative;
  top: 390px;
  margin: 0 auto;
  text-align: center; }

/* line 100, ../sass/style.scss */
.bg-music canvas {
  width: 187.5px; }

/* line 104, ../sass/style.scss */
.btnFace, .btnRecord, .i-dog, .i-text-bg, .n-dog1, .n-dog2, .n-dog3, .n-dog4, .n-text-bg1, .n-text-bg2, .other-ar, .star, .i-title, .n-title, .n-title2, .wrong .girl, .wrong p, .wrong .arrow, .wrong a, .right .arrow, .right a, .right .r-dog, .loading-dog {
  position: absolute;
  background-size: 100% 100% !important; }

/*----------------animation----------------------------------*/
@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -107px 0; } }
@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -107px 0; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes shake {
  30% {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg); }
  60% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg); }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); } }
@-webkit-keyframes shake {
  33% {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg); }
  66% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg); }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); } }
@keyframes flow {
  30% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px); }
  60% {
    transform: translateY(10px);
    -webkit-transform: translateY(-20px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(-20px); } }
@-webkit-keyframes flow {
  30% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px); }
  60% {
    transform: translateY(10px);
    -webkit-transform: translateY(-20px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(-20px); } }
@keyframes fadeToScale {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5); }
  80% {
    opacity: 1;
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes fadeToScale {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5); }
  80% {
    opacity: 1;
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
